$def with (form)

<div class="container">
				<div class="row welcome text-center">
					<div class="span12">
						<p class="lead">Zmiana danych</p>
					</div>
				</div>

				<hr>
				<div class="row">
					<div class="span12 text-center">
					
 <p>Wypełnij pola w zależności od danych jakie chcesz zaaktualizować. W przypadku zmiany hasła musisz wpisać także swoje stare hasło.</p>
					
					<hr>
<form action="" method="POST">
$:form.render()
</form>
					</div>
				</div>

				<hr>
				<div class="row">
					
				</div>



